.imgBox{
    
   
    /* Gaya lainnya untuk kartu (jika ada) */
    }
    
    .card img {
        max-width: 100%; /* Gambar akan memiliki lebar maksimum 100% dari kotak kartu */
        
       
    height: auto;    /* Ketinggian gambar akan disesuaikan agar tidak terdistorsi */
    }

    /* CSS untuk animasi kartu saat di-hover */

.card {
    transition: transform 0.3s ease-in-out;
}




/* CSS untuk desain keren pada card */

.card {
    border: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
    background-color: #fff;
}

.card:hover {
    transform: scale(1.05); /* Membesarkan card saat di-hover */
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.card-body {
    padding: 16px;
    text-align: center;
}

.card-title {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.btn.info {
    background-color: #007bff;
    color: #fff;
    transition: background-color 0.3s;
}

.btn.info:hover {
    background-color: #0056b3;
}

.text-danger {
    color: #f70015;
}

.card-footer {
    background-color: #040405;
    padding: 10px;
}

.imgBox {
    max-height: 500px; /* Menentukan tinggi maksimum gambar */
    object-fit: cover; /* Memastikan gambar terisi dengan baik */
}

/* Untuk mengatur spasi antara card, jika diperlukan */
.col.mb-5 {
    margin-bottom: 20px;
}

/* tablet */
@media (max-width: 768px){
    html {
        font-size: 62.5%;
    }

    #hamburger-menu {
        display: inline-block;
    }

    .navbar .navbar-nav {
        position: absolute;
        top: 100%;
        right: -100%;
        background-color: #fff;
        width: 30rem;
        height: 100vh;
        transition: 0.3s;
    }

    .navbar .navbar-nav.active {
        right: 0;
    }


    .navbar .navbar-nav a {
        color: var(--bg);
        display: block;
        margin: 1.5rem;
        padding: 0.5rem;
        font-size: 2rem;
    }

    .navbar .navbar-nav a::after {
        transform-origin: 0 0;
    }
    
    .navbar .navbar-nav a:hover::after {
        transform:scaleX(0.2);
    }

    .about .row {
        flex-wrap: wrap;
    }

    .about .row .about-img img {
        height: 24rem;
        object-fit: cover;
        object-position: center;
    }

    .about .row .content {
        padding: 0;
    }

    .about .row .content h3 {
        margin-top: 1rem;
        font-size: 2rem;
    }

    .about .row .content p{
        font-size: 1.6rem;
    }

    .menu p {
        font-size: 1.6rem;
    }